<a href="https://colab.research.google.com/github/AndrBoch/University/blob/main/tasks/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Бочкарев Андрей Дмитриевич*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print("Добро пожаловать в мир Python!")

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
name = "Andrew"
print(name)

Andrew

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [5]:
print("Слышу, ветер запутался в листьях, \nТам  на ветке качнулась луна.\nРазве может быть несколько истин, \nРазве можно любовь не узнать?")

Слышу, ветер запутался в листьях,
Там  на ветке качнулась луна.
Разве может быть несколько истин,
Разве можно любовь не узнать?

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [6]:
f_stroka = f"7 + 7 = {7+7}"
print(f_stroka)

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [10]:
x = int(input("Введите первое число: "))
y = int(input("Введите второе число: "))
z = int(input("Введите третье число: "))
print(f"Сумма чисел равна: {x+y+z}")

Введите первое число: 1
Введите второе число: 2
Введите третье число: 3
Сумма чисел равна: 6

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [16]:
FIO = input("Введите ФИО: ").split()
print(str(FIO[0]+" "+FIO[1][:1]+"."+FIO[2][:1]))

Введите ФИО: Бочкарев Андрей Дмитричевич
Бочкарев А.Д

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [19]:
strr = input("Введите строку: ")
sym  = input("Введите символ: ")
print(strr.count(sym))

Введите строку: fahjaiopa
Введите символ: a
3

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [20]:
color = input("Введите свой любимый цвет: ")
print(f"{color} - красивый цвет!")

Введите свой любимый цвет: Синий
Синий - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [22]:
x = input("Введите строку: ")
print(len(x))

Введите строку: afqwfqwf
8

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [24]:
x = int(42)
print(x)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [25]:
print(int((17*3)+(10/2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [26]:
x = int(100)
print(x+25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [27]:
print(type(7))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [28]:
x = int(100)
y = int(50)
print(x-y)

50

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [31]:
x = float(input("Введите вещественное число: "))
print(x**2)

Введите вещественное число: 5.2
27.040000000000003

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [34]:
x = float(input("Введите вещественное число: "))
print(round(x,2))

Введите вещественное число: 5.55555
5.56

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [36]:
print(float(2.5+4.7))

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [38]:
C = float(input("Введите градусы Цельсия: "))
print(float(C * 9/5 + 32))

Введите градусы Цельсия: 36
96.8

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [39]:
x = float(input("Введите длину: "))
y = float(input("Введите ширину: "))
print(f"Площадь равна: {x*y} \nПериметр равен: {(x+y)*2}")

Введите длину: 5
Введите ширину: 6
Площадь равна: 30.0
Периметр равен: 22.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [40]:
x = "Строка"
print(x)

Строка

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [43]:
x = "Привет, мир!"
print(x[0], x[-1])

П !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [44]:
x = "МИИГАиК - "
y = "Лучший "
z = "ВУЗ!"
print(x+y+z)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [45]:
x = int(12345)
print(type(x))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [46]:
x = "python is Fun"
print(x.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [50]:
a  = [10,20,30,40,50]
print(a)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [49]:
a = ["aaa"]*6
a.append("новый элемент")
print(a)

['aaa', 'aaa', 'aaa', 'aaa', 'aaa', 'aaa', 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [51]:
a = ['python', 'java', 'c++', 'ruby', 'perl']
print(a[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [54]:
a = []
a.append("aaa")
a.append("aaff")
a.append("agga")
print(a)

['aaa', 'aaff', 'agga']

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [55]:
a = [1, 2, 3, 4, 5]
a[1] = 200
print(a)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [56]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [57]:
a = (1, 2, 3, 4, 5)
a[0] = 111
print(a)
# кортеж не изменяемый тип данных

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [58]:
a = (1, 2, 3, 4, 5)
print(str(a))

(1, 2, 3, 4, 5)

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [61]:
a = (1, 2, 3, 4, 5)
print(1 in a)

True

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [63]:
a = (2, 2, 2, 3, 4, 5)
print(a.count(2))

3

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [65]:
a = {"Имя": "Андрей", "возраст": "22", "город": "Москва"}
print(a)

{'Имя': 'Андрей', 'возраст': '22', 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [67]:
a = {"Имя": "Андрей", "возраст": "22", "город": "Москва"}
print(a["Имя"])

Андрей

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [68]:
a = {"Имя": "Андрей", "возраст": "22", "город": "Москва"}
a["Профессия"] = "Тунеядец"
print(a)

{'Имя': 'Андрей', 'возраст': '22', 'город': 'Москва', 'Профессия': 'Тунеядец'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [70]:
a = {"Имя": "Андрей", "возраст": "22", "город": "Москва"}
a.pop("город")
print(a)

{'Имя': 'Андрей', 'возраст': '22'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [71]:
a = {}
key, prop = input("Введите ключ и значение:").split()
a[key]= prop
print(a)

Введите ключ и значение:Погода Ясная
{'Погода': 'Ясная'}